.header {
  height: 142px;
  max-width: 1440px;
  display: flex;
  position: sticky;
  top: 0;

  border: 2px solid $border-color;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  background-color: white;

  &__buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-right: 30px;
  }

  &__line {
    position: absolute;
    top: -2px;
    right: 370px;
    width: 2px;
    height: 142px;

    background-color: $border-color;

    // transform: rotate(90deg);
  }
}
