.order {
  &__icon {
    margin: 20px 10px 0 30px;
    color: $bold-text-color;
  }

  &__title {
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 1px;
    color: $bold-text-color;
  }

  &__table {
    margin-left: 55px;
    margin-bottom: 30px;
    text-align: left;
    font-size: 14px;
  }

  &__header,
  &__cell {
    padding-right: 100px;
  }

  &__header {
    color: $bold-text-color;
    padding-top: 20px;
    padding-bottom: 10px;
  }
}
