body {
  margin: 0;
}

h1, h2, h3, p, ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  color: #6e768f;
  text-decoration: none;
}

.body {
  background-color: #eceef4;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.body__logo-link {
  transition: 300ms;
  opacity: 0.2;
}
.body__logo-link:hover {
  transform: scale(1.1);
  opacity: 0.3;
}
.body__logo {
  width: 100px;
  height: 100px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.main {
  max-width: 1220px;
  margin: 0 auto;
  background-color: white;
  border: 2px solid #c9d0e1;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top: none;
}
.main__select-document {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main__title {
  position: relative;
  width: 500px;
  margin-top: 100px;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 4px;
  color: #6e768f;
}
.main__title::after {
  content: "";
  position: absolute;
  bottom: -10px;
  display: block;
  width: 100%;
  height: 1px;
  background-color: #c9d0e1;
}

.header {
  z-index: 5;
  height: 142px;
  width: 1220px;
  display: flex;
  position: sticky;
  top: 0;
  border: 2px solid #c9d0e1;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: white;
}
.header__buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 30px;
}
.header__line {
  position: absolute;
  top: -2px;
  right: 370px;
  width: 2px;
  height: 142px;
  background-color: #c9d0e1;
}

.order__icon {
  margin: 20px 10px 0 30px;
  color: #6e768f;
}
.order__title {
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1px;
  color: #6e768f;
}
.order__table {
  margin-left: 55px;
  margin-bottom: 30px;
  text-align: left;
  font-size: 14px;
}
.order__header, .order__cell {
  padding-right: 100px;
}
.order__header {
  color: #6e768f;
  padding-top: 20px;
  padding-bottom: 10px;
}

.button {
  width: 150px;
  height: 50px;
  margin-bottom: 10px;
  font-weight: bold;
  color: white;
  background-color: #5fcac6;
  border: 1px solid #c9d0e1;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
  transition: 300ms;
}
.button:last-child {
  margin-bottom: 0px;
  background-color: #f7f7fa;
  color: #a5abc5;
}
.button:hover {
  transform: scale(1.05);
}

.help__icon {
  margin: 20px 10px 10px 30px;
  color: #6e768f;
}
.help__title {
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1px;
  color: #6e768f;
}
.help__text {
  max-width: 270px;
  margin: 0 40px 10px 60px;
  font-size: 14px;
}
.help__phone {
  margin-left: 60px;
  margin-right: 20px;
}
.help__phone, .help__email {
  font-size: 14px;
  font-weight: 500;
  transition: 300ms;
}
.help__phone:hover, .help__email:hover {
  color: #5fcac6;
}

.select {
  width: 1220px;
  display: flex;
  justify-content: center;
}
.select__container {
  width: 280px;
  height: 220px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  margin-right: 30px;
  background-color: #f7f7fa;
  border: 2px solid #c9d0e1;
  border-radius: 5px;
  cursor: pointer;
  transition: 300ms;
}
.select__container:last-child {
  margin-right: 0;
}
.select__container:hover {
  border-color: #76a7e1;
}
.select__container--selected {
  border: 5px solid #76a7e1;
}
.select__image {
  width: 80px;
  height: 90px;
}
.select__icon {
  width: 30px;
  height: 30px;
  position: absolute;
  top: -15px;
  right: -15px;
  display: none;
  background-color: white;
  border-radius: 50%;
}
.select__icon--selected {
  display: block;
}

.section__number {
  display: inline-block;
  margin: 100px 20px 40px 40px;
  padding: 10px 15px;
  color: #6e768f;
  border: 1px solid #6e768f;
  border-radius: 50%;
}
.section__title {
  display: inline-block;
  font-size: 22px;
  font-weight: 400;
  color: #6e768f;
}
.section__description {
  margin-left: 10px;
  font-size: 12px;
}
.section__label {
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 100px;
  margin-bottom: 30px;
  padding: 0 20px;
  border: 1px solid #c9d0e1;
  border-radius: 5px;
  background-color: #f7f7fa;
  white-space: nowrap;
  color: #6e768f;
  cursor: pointer;
}
.section__input {
  visibility: hidden;
}
.section__files {
  margin: 0 auto;
}
.section__line {
  margin-top: 50px;
}
.section__info {
  margin-top: 20px;
  margin-left: 35px;
}

.files {
  font-size: 14px;
  color: #6e768f;
  border: 1px solid #c9d0e1;
  border-radius: 5px;
}
.files__title {
  padding-top: 15px;
  padding-bottom: 25px;
  padding-right: 145px;
  padding: 15px 145px 25px 0;
}
.files__title:first-child {
  padding-left: 50px;
  padding-right: 300px;
}
.files__title:last-child {
  padding-right: 50px;
}
.files__name, .files__size, .files__number, .files__remove {
  padding-bottom: 15px;
  font-size: 16px;
  color: #a5abc5;
}
.files__name {
  padding-left: 50px;
}
.files__icon {
  padding-right: 10px;
}
.files__trash {
  cursor: pointer;
  transition: 300ms;
}
.files__trash:hover {
  color: red;
}

.language {
  display: flex;
  flex-direction: column;
}
.language__option {
  width: 50px;
  display: inline-block;
  margin-right: 10px;
  text-align: right;
  font-size: 10px;
  font-weight: 600;
  color: #6e768f;
}
.language__select {
  width: 230px;
  height: 50px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f7f7fa;
  border-color: #c9d0e1;
  border-radius: 5px;
  outline: none;
}
.language__label {
  margin-bottom: 20px;
  margin-left: 100px;
}

.tone {
  position: relative;
  width: 250px;
  height: 80px;
  margin-left: 100px;
  margin-bottom: 20px;
  background-color: #f7f7fa;
  font-size: 18px;
  text-align: center;
  line-height: 80px;
  color: #6e768f;
  border: 1px solid #c9d0e1;
  border-radius: 5px;
  cursor: pointer;
  transition: 300ms;
}
.tone:hover {
  border-color: #76a7e1;
}
.tone__icon {
  margin-right: 10px;
}
.tone--selected {
  border: 5px solid #76a7e1;
}
.tone__mark {
  width: 30px;
  height: 30px;
  position: absolute;
  top: -15px;
  right: -15px;
  display: none;
  background-color: white;
  border-radius: 50%;
}
.tone__mark--selected {
  display: block;
}

.line {
  width: 500px;
  height: 10px;
  position: relative;
  margin-left: 80px;
  background-color: #f7f7fa;
}
.line__point {
  width: 10px;
  height: 10px;
  display: block;
  padding: 0;
  position: absolute;
  border: none;
  border-radius: 50%;
  background-color: #cfcfcf;
  cursor: pointer;
  outline: none;
  transition: 300ms;
}
.line__point:first-child {
  top: 0;
  left: 0;
}
.line__point:last-child {
  top: 0;
  right: 0;
}
.line__point--selected {
  transform: scale(1.8);
  background-color: #edbe76;
}
.line__point:nth-child(2) {
  left: 250px;
}
.line__text {
  width: 590px;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-left: 40px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 2px;
  color: #6e768f;
}
.line__time {
  transition: 300ms;
}
.line__time--selected {
  color: #edbe76;
}
.line__orange {
  font-weight: 600;
  color: #edbe76;
}

.info {
  width: 600px;
  height: 156px;
  border: 1px solid #c9d0e1;
  border-radius: 4px;
}
.info__icon {
  margin: 30px 10px 40px 30px;
  color: #6e768f;
}
.info__title {
  color: #6e768f;
  font-weight: 600;
}
.info__text {
  max-width: 500px;
  margin-left: 60px;
}

.sections {
  display: flex;
}
.sections__section:last-child {
  margin-left: 100px;
}

*,
::after,
::before {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", "Helvetica", sans-serif;
  color: #a5abc5;
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.ttf);
}

/*# sourceMappingURL=style.css.map */
