$body-background: rgb(236, 238, 244);
$border-color: rgb(201, 208, 225);
$bold-text-color: rgb(110, 118, 143);
$text-color: rgb(165, 171, 197);
$primary-button-color: rgb(95, 202, 198);
$secondary-button-color: rgb(247, 247, 250);
$hover-color: rgb(118, 167, 225);
